@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var rabbits = (List<FarmManager.Models.MRabbits>)ViewBag.rabbits;
}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/RabbitsSales/CreateRabbitSaleRecord" method="post" style="width:80%;margin:auto;">

                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> NameID</label>
                            <select name="NameId" class="form-control chosen">
                                @foreach(var rabbit in rabbits)
                                {
                                    <option value="@rabbit.NameId">@rabbit.NameId</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span>DateSold</label>
                            <input name="DateSold" type="text" class="form-control zebra_date" required>
                        </div>
                    </div>
                </div>

                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span>WeightKg(KG)</label>
                            <input name="WeightKg" type="number" step="any" min="0" class="form-control" required>
                        </div>
                    </div>
                </div>

                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            Pedigree &nbsp;<input name="WeightKg" type="checkbox">
                            
                        </div>
                    </div>
                </div>

                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span>Price</label>
                            <input name="Price" type="number" step="any" min="0" class="form-control">
                        </div>
                    </div>
                </div>

                @*row*@
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>BuyerName</label>
                            <input name="BuyerName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>BuyerEmail</label>
                            <input name="BuyerEmail" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>BuyerMobile</label>
                            <input name="BuyerMobile" type="tel" class="form-control">
                        </div>
                    </div>
                </div>

                @*row*@
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><span style="color:red">*</span>BuyerAddress</label>
                            <textarea name="BuyerAddress" class="form-control"></textarea>
                        </div>
                    </div>
                </div>


                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red"></span> Notes</label>
                            <textarea name="Notes" class="form-control"></textarea>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
