@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form action="~/RabbitsNotes/CreateRecord" method="post" style="width:80%;margin:auto;">

                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Title</label>
                            <input type="text" class="form-control" name="Title" required/>
                        </div>
                    </div>
                </div>



                @*row*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color:red">*</span> Notes</label>
                            <textarea name="Notes" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
